<!-- {{product$ | async | json}} -->

<!-- {{productForm.value | json}} -->

<div class="container p-3 d-flex flex-row d-md-flex justify-content-center">
  <form [formGroup]="productForm" (ngSubmit)="addProduct()">
    <mat-card>
      <mat-card-header class="d-flex justify-content-center">
        <h2>Add Product</h2>
      </mat-card-header>
      <mat-card-content
        class="d-md-flex-row flex-row flex-md-row justify-content-center"
      >
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Maker</mat-label>
            <input
              matInput
              type="text"
              formControlName="maker"
              autocomplete="autocomplete_off_randString"
            />
            <mat-error *ngIf="productForm.get('maker')?.hasError('required')">
              You must enter a maker
            </mat-error>
            <mat-error *ngIf="productForm.get('maker')?.hasError('maxlength')">
              Max 100 chracters
            </mat-error>
            <mat-error *ngIf="productForm.get('maker')?.hasError('pattern')">
              Only alphanumberic
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Model</mat-label>
            <input
              matInput
              type="text"
              formControlName="model"
              autocomplete="autocomplete_off_randString"
            />
            <mat-error
              *ngIf="productForm.get('model')?.hasError('required')"
            >
              You must enter a model
            </mat-error>
            <mat-error
              *ngIf="productForm.get('model')?.hasError('maxlength')"
            >
              Max 255 chracters
            </mat-error>
            <mat-error
              *ngIf="productForm.get('model')?.hasError('pattern')"
            >
              Only alphanumberic
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input
              matInput
              type="number"
              formControlName="rentalPrice"
              autocomplete="autocomplete_off_randString"
            />
            <span matTextPrefix>₹&nbsp;</span>
            <mat-error *ngIf="productForm.get('rentalPrice')?.hasError('required')">
              You must enter a price
            </mat-error>
          </mat-form-field>
        </div>

        <div class="mb-3">
          <input
            class="form-control"
            type="file"
            accept="image/png, image/jpg"
            formControlName="carImage"
            autocomplete="autocomplete_off_randString"
            (change)="onChange($event)"
          />
          <mat-hint>Required .jpg and .png only</mat-hint>
        </div>
      </mat-card-content>
      <div>
        <mat-card-footer>
          <div class="d-md-flex m-2 pb-3 justify-content-evenly">
            <button
              [disabled]="productForm.invalid"
              mat-raised-button
              color="primary"
              type="submit"
            >
              Add
            </button>
            <button
              [disabled]="productForm.pristine"
              mat-raised-button
              color="warn"
              (click)="clearForm()"
              type="button"
            >
              Clear
            </button>
          </div>
        </mat-card-footer>
      </div>
    </mat-card>
  </form>
</div>
