<div
  *ngFor="let item of orderList$ | async"
  class="container mt-3 d-flex justify-content-center"
>
  <mat-card class="order-card p-2 mb-4" *ngIf="item as RentedCar">
    <mat-card-content class="d-flex flex-row justify-content-between">
      <img
        [src]="imageBaseUrl + RentedCar.carDto.carImage"
        height="150"
        width="150"
      />
      <div class="d-flex flex-column">
        <div>
          <h2>{{ RentedCar.carDto.maker }}</h2>
        </div>
        <div>
          <h3 class="curr-price">
            Bill: {{ RentedCar.totalCost | currency : "INR" }}
          </h3>
        </div>
      </div>
      <div class="curr-price">
        {{ RentedCar.dateRented | date }}
      </div>
      <p>-</p>
      <div class="cut">
        {{ RentedCar.dateReturn | date }}
      </div>
    </mat-card-content>
    <div>
      <mat-card-footer>
        <div class="d-md-flex m-2 pb-3 justify-content-evenly">
          <button *ngIf="(role$ | async) === 'User'" mat-raised-button color="warn" type="button">Return</button>
          <button *ngIf="(role$ | async) === 'Admin'" mat-raised-button color="primary" type="button">Accept Return</button>
          <!-- <button mat-raised-button color="warn" type="button">Return</button> -->
        </div>
      </mat-card-footer>
    </div>
  </mat-card>
</div>
