<div class="d-flex justify-content-evenly mt-4">
  <div class="wrapper" *ngIf="car as RentedCar">
    <div class="card radius shadowDepth1">
      <div class="card__image border-tlr-radius">
        <img
          [src]="imageBaseUrl + RentedCar.carDto.carImage"
          alt="image"
          class="border-tlr-radius"
          height="300"
          width="300"
        />
      </div>

      <div class="card__content card__padding">
        <div class="d-flex">
          <div>
            <h1>{{ RentedCar.carDto.maker }}</h1>
            <h2>
              {{ RentedCar.carDto.model }}
            </h2>
            <div class="d-flex flex-column justify-content-between">
              <div>
                <h2>
                  Total Cost:
                  <span class="curr-price">
                    <!-- {{ RentedCar.totalCost | currency : "INR" }} -->
                    {{totalCost | currency : "INR"}}
                  </span>
                </h2>
              </div>
            </div>
          </div>
        </div>
        <form class="login-form" [formGroup]="rentForm">
          <div (click)="dateChange()">
            <mat-form-field class="form-body" (click)="dateChange()">
              <mat-label>Rental Date</mat-label>
              <input
                readonly
                matInput
                (click)="dateChange()"
                [matDatepicker]="picker"
                formControlName="dateRented"
              />
              <!-- [value]="RentedCar.dateRented" -->
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                (click)="dateChange()"
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker (click)="dateChange()" #picker></mat-datepicker>
              <mat-error
                *ngIf="rentForm.get('dateRented')?.hasError('required')"
              >
                You must pick a date
              </mat-error>
            </mat-form-field>
          </div>
          <div (click)="dateChange()">
            <mat-form-field class="form-body" (click)="dateChange()">
              <mat-label>Return Date</mat-label>
              <input
                readonly
                matInput
                (click)="dateChange()"
                [matDatepicker]="picker2"
                formControlName="dateReturn"
              />
              <!-- [value]="RentedCar.dateReturn" -->
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                (click)="dateChange()"
                [for]="picker2"
              ></mat-datepicker-toggle>
              <mat-datepicker (click)="dateChange()" #picker2></mat-datepicker>
              <mat-error
                *ngIf="rentForm.get('dateReturn')?.hasError('required')"
              >
                You must pick a date
              </mat-error>
            </mat-form-field>
            <div>
              <h2>Name: {{user.Name}}</h2>
            </div>
          </div>
          <div>
            <mat-card-footer>
              <div class="btn-row" style="margin: 2px">
                <button
                  [disabled]="rentForm.invalid"
                  mat-raised-button
                  color="primary"
                  type="submit"
                  (click)="book()"
                >
                  Rent
                </button>
              </div>
            </mat-card-footer>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
